<form name='quantity_response_form' action="/task/question_validate" method="POST" >
        {% csrf_token %}
        {{ quantity_response_form.as_p }}
        <input type="submit" value="Submit">

</form>
{##}
{#    <div id="wrapper">#}
{#        <div id="body">#}
{#            <h4>{{ price_as_dollar }}</h4>#}
{#            <form action="/task/question_validate">#}
{#                <input type="text" name="response">#}
{#                    <input type="hidden" name="price_level" id="{{ price_level }}"><br>#}
{#                <br>#}
{#                    <input type='text' name='product_id' value='1001' />#}
{#                <input type='submit' value='Buy!' />#}
{#                <input type="submit" value="Submit">#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
