
{{ value|linebreaks }}

<h1 class="task_instructions_title">{{ task.task_title }}</h1>
<br/>
<span class="scenario_instructions">
    {{ task.scenario_instructions|linebreaksbr }}
</span>
<br/><br/>

{% if task.drink_amounts_list %}
    <h4>
    {{ task.available_amounts_header }}
    </h4>
        <ul class="item_amount_list">
        {% for item in task.drink_amounts_list %}
        <li class="item_amount_list_item">{{ item }}</li>
        {% endfor %}
    </ul>
{% endif %}
<br/>
<form name='quantity_response_form' action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ quantity_response_form.as_p }} {{ quantity_response_form.label }}
    <button type="submit">Next</button>
{#        <input type="submit" value="next">#}
</form>
