{% extends "base.html" %}

{% block content %}


    {{ value|linebreaks }}
    <div class="scenario_instructions">
       <h3>
           {{ task.individual_price_level_prompt }}
       </h3> <br/>
        <span class="price_level">
        {{ task.individual_price_level }}
    {#    {{ individual_price_level }}#}

        </span>
    </div>
    <br/>

    <form name='quantity_response_form' action="/task/process_form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ quantity_response_form.as_p }} {{ quantity_response_form.label }}
    <br/>
        <button type="submit">Next</button>
    {#        <input type="submit" value="next">#}
    </form>

{% endblock %}









{#{% if not show_questions %}#}
{#<h1 class="task_instructions_title">{{ task.task_title }}</h1>#}
{#<br/>#}
{#<span class="scenario_instructions">#}
{#    {{ task.scenario_instructions|linebreaksbr }}#}
{#</span>#}
{#{% if task.drink_amounts_list %}#}
{#    <h4>#}
{#    {{ task.available_amounts_header }}#}
{#    </h4>#}
{#        <ul class="item_amount_list">#}
{#        {% for item in task.drink_amounts_list %}#}
{#        <li class="item_amount_list_item">{{ item }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#{% endif %}#}
{#<br/>#}
{#<span class="scenario_instructions">#}
{#{{ task.post_instructions }}#}
{#</span>#}
{#<br/>#}
{#<form action="/begin_task" method="get">#}
{#    <input type="submit" value="Ready to Proceed" />#}
{#</form>#}
{#<br/>#}
{#{% endif %}#}
