{%  extends "base.html" %}

{% block content %}
    <div class="col-sm-10">

<h2>You're all done</h2><br/>
{#    <form action="send_results" method="get" onsubmit="return false">#}
    <form action="send_results" method="get" >
    <button type="submit" class="btn btn-success col-sm-3">Submit</button>
{#    <input type="submit" class="btn-dark" value="Send Results" />#}
{#    <button type="button" class="btn btn-primary">Primary</button>#}
{#    <button class="btn-dark">button</button>#}
{#<button type="button" class="btn btn-secondary">Secondary</button>#}
{#<button type="button" class="btn btn-success">Success</button>#}
{#<button type="button" class="btn btn-danger">Danger</button>#}
{#<button type="button" class="btn btn-warning">Warning</button>#}
{#<button type="button" class="btn btn-info">Info</button>#}
{#<button type="button" class="btn btn-light">Light</button>#}
{#<button type="button" class="btn btn-dark">Dark</button>#}
{##}

</form>


<h3>Raw Data</h3>
<table class="raw_data">
    <thead>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
    </thead>
    {% for trial in data %}
    <tr>
        <td>{{ trial.0 }}</td>
        <td>{{ trial.1 }}</td>
        <td>{{ trial.2 }}</td>
    </tr>

    {% endfor %}

</table>

<h3>Demand Indices</h3>
<table>
    <tr>
        <td>Intensity:</td>
        <td>{{ indices.intensity }}</td>
    </tr>
    <tr>
        <td>Omax:</td>
        <td>{{ indices.omax }}</td>
    </tr>
    <tr>
        <td>Pmax:</td>
        <td>{{ indices.pmax }}</td>
    </tr>
    <tr>
        <td>Breakpoint:</td>
        <td>{{ indices.breakpoint }}</td>
    </tr>
</table>

        </div>

{% endblock %}